* {
  margin: 0;
  padding: 0;
}
.App {
  font-family: sans-serif;
  text-align: center;
}

nav {
  height: 70px;
  display: flex;
  padding: 20px 36px;
  background-color: rgb(249 250 251 / var(--tw-bg-opacity));
  box-shadow: 0px 2.98256px 7.4564px rgba(0, 0, 0, 0.1);
  border-bottom: solid 2px lightgrey;
}

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 60px;
  background-color: white;
  background-image: radial-gradient(
      circle closest-corner at 50% 50%,
      white 30%,
      rgba(255, 255, 255, 0.5) 50%
    ),
    url(https://www.upliftcodecamp.com/circuit-board.svg);
  width: 100%;
  height: calc(100vh - (112px + 124px));
  box-sizing: border-box;
}

h1 {
  display: block;
  font-family: Montserrat, sans-serif;
  font-size: 60px;
  font-size: 3.75rem;
  line-height: 1;
}

h2 {
  margin: 30px;
  font-family: Hind Mudarai, sans-serif;
  font-size: 18px;
  font-weight: lighter;
}

span {
  display: block;
  color: blueviolet;
}

button {
  background-color: blueviolet;
  color: #fff;
  border-radius: 4px;
  padding: 12px;
  font-size: 18px;
  height: fit-content;
}

button:hover {
  border-color: red;
}

.BannerBottom {
  display: flex;
  justify-content: space-between;
  background-color: turquoise;
  padding: 2rem;
}

.BannerBottom p {
  font-size: 1.5rem;
  font-weight: bolder;
  text-align: left;
}
